.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2c2b30, #363637);
  padding: 2rem;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #f58f7c;
  font-size: 2rem;
  font-weight: bold;
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-form .form-group label {
  display: block;
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 3rem;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 80%;
  padding: 0.8rem;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.053);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.contact-form .form-group textarea {
  height: 150px;
  resize: vertical;
  font-family: "Inter", sans-serif;
}

.contact-form .form-group input::placeholder,
.contact-form .form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact-form button {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #f58f7c, #efa67f);
  color: #2c2b30;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.contact-form button:hover:not(:disabled) {
  background: linear-gradient(to right, #e77b68, #e49374);
}

.contact-form .success-message {
  color: #f58f7c;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-form .form-group label {
    text-align: center;
    margin-left: 0;
    font-size: 0.9rem;
  }

  .contact-form .form-group input,
  .contact-form .form-group textarea {
    width: 90%;
  }

  .contact-form h2 {
    font-size: 1.8rem;
  }

  .contact-form .form-group input::placeholder,
  .contact-form .form-group textarea::placeholder {
    font-size: 0.9rem;
  }

  .contact-form button {
    font-size: 1rem;
  }
}
